.root {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #fff;
  align-items: center;

  @media (min-width: 620px) {
    padding: 1em 4em;
  }
}

.company {
  display: flex;
  gap: 1em;
}