.root {
  width: 90%;
  padding: 3em 0;
  margin: 0 auto;
  @media (min-width: 1000px) {
    width: 70%;
  }
}

.searchBar {
  margin: 1em 0;
}

.loadMoreButton {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
  cursor: pointer;
}
